body {
  background-color: #dadfe4;
}


.description {
  text-align: center;
  padding: 30px;
}

.avatar {
  max-width: 100px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.tag,
.location {
  font-size: 18px;
  color: #939aa0;
}

.stats {
  background-color: #d6e1ea;
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.stats > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  font-size: 14px;
  color: #8b98a5;
}

.quantity {
  font-weight: 700;
  color: #1f3349;
}
